.header{
    background-color: #1A1A1A;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

.right-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.left-text{
    margin: 0px 5px 5px 0px;
    margin-bottom: 10px;
    color: #626262;
    font-size: x-small;
    vertical-align: 20%;
}

.right-text{
    margin: 0px 5px 0px 0px;
    /* margin-bottom: 10px; */
    color: #626262;
    font-size: x-small;
    vertical-align: 20%;
}

.socials{
    vertical-align: 50%;
    margin: 0px 5px 0px 5px;
}

.navbar-top{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 5px 45px 0px 30px;
    border-bottom: 1px solid white;

}

.navbar-bottom{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 5px 40vw 0px 30px;

}

.navbar-text{
    color: white;
    margin: 0px 10px 0px 10px;
    font-size: small;
    font-weight: 300;
}

.navbar-bottom-text{
    color: white;
    margin: 0px 10px 0px 10px;
    font-size: medium;
    font-weight: 300;
    min-width: max-content;
}
